.page-footer {
    .page-footer-inner {
        position: relative;

        &:before {
            @include bp(small1) {
                @include section-inner-before-line;
            }
        }

        .contact {
            text-align: center;
            padding: 80px 5px;
            padding-top: 120px;

            @include bp(small2) {
                padding: 80px 20px;
            }

            @include bp(medium1) {
                padding: 120px 50px;
                padding-top: 160px;
            }

            h2 {
                @include headline-h2;
            }

            p {
                @include text-normal;
            }

            span {
                color: $contact-url;
            }
        }

        .footer-bar {
            position: relative;
            background-color: $background-lightgrey;
            width: 100vw;
            padding: 50px 0;
            display: flex;
            align-items: center;
            flex-direction: column;

            @include bp(small2) {
                display: block;
            }

            .footer-logo {
                display: block;
                width: 40px;
                height: 40px;
                left: 35px;
                margin-bottom: 20px;

                @include bp(small2) {
                    position: absolute;
                    margin-bottom: 0;
                    width: 35px;
                    height: 35px;
                }
            }

            .socialmedia-icons {
                display: block;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    padding: 8px;
                    height: 30px;
                }
            }

            @include bp(small2) {
                flex-direction: row;
            }
        }
    }
}