/* Header */
.page-header-grey {
    position: relative;
    height: 490px;
    background-color: $background-darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        height: 50px;
        bottom: 0;
        background-color: $white;

        @include bp(medium1) {
            height: 65px;
        }
    }

    .page-header-inner {
        text-align: center;
        color: $white;
        padding: 20px;

        h1 {
            @include headline-h2;
            border: 1px solid $white;
            display: inline-block;
            padding: 8px 15px 10px 15px;
            margin-bottom: 0;
            position: relative;
        }

        h2 {
            @include headline-h2;
            margin-top: 14px;
            line-height: 46px;
            position: relative;

            @include bp(small2) {
                line-height: 62px;
            }
        }

        i {
            color: $header-italic-text;
        }

        .page-header-lorbeergranz {
            background-image: url(./../images/lorbeergranz.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            width: 90vw;
            height: 90vh;
            top: -14%;
            right: -43%;
            transform: translateX(-50%);

            @include bp(small1) {
                top: 0;
            }

            @include bp(small2) {
                width: 90vw;
                height: 90vh;
                top: 20px;
                right: -42%;
            }

            @include bp(medium1) {
                top: 4vw;
            }
        }
    }
}

/* Under every header page */
h2.page-subheadline {
    @include headline-h2;
    color: $subheadline-grey;
    margin-bottom: 80px;

    @include bp(small2) {
        margin-bottom: 100px;
    }

    @include bp(medium1) {
        margin-bottom: 120px;
    }
}