/* Pflegetipps Page */
.page-pflegetipps {
    position: relative;
    background-color: $background-lightgrey;

    .page-pflegetipps-inner {
        @include padding-normal;
        max-width: $max-width-content;
        margin: auto;

        &:after {
            @include page-header-inner-line;
        }

        .pflegetipps-list {
            text-align: center;

            li {
                padding: 35px;
                position: relative;
                counter-increment: my-awesome-counter;
                @include text-normal;

                &:before {
                    content: counter(my-awesome-counter) ". ";
                    color: $grey-number;
                    font-weight: bold;
                    position: absolute;
                    top: 0;
                    left: 49%;
                }
            }


        }
    }

    .page-pflegetipps-gallery-inner {
        .pflegetipps-images {
            display: block;

            @include bp(small2) {
                display: flex;
            }

            .pflegetipps-image-element {
                width: 100vw;
                height: 250px;
                background-size: cover;

                @include bp(small2) {
                    width: 50vw;
                    height: 400px;
                }

            }

            .pflegetipps-image-1 {
                background-image: url(./../images/menu_pflegetipps.png);
            }

            .pflegetipps-image-2 {
                background-image: url(./../images/m_schuh_6.jpg);
                background-position: center;
            }
        }
    }
}
