.hero-section {
    background-color: $black;

    .hero-section-inner-space {
        background-color: $black;
        height: 30vh;

        @include bp(small2) {
            height: 0;
        }
    }

    .hero-section-inner {
        position: relative;
        width: 100vw;
        height: 70vh;
        background-image: url(../images/hero_bg.png);
        background-color: $black;
        background-size: cover;
        background-position: center;
        color: $white;
        font-weight: 400;

        @include bp(small2) {
            height: 100vh;
            margin-top: 0;
        }
    }

    .hero-section-text {
        position: absolute;
        margin-top: -23vh;
        width: 100vw;

        @include bp(small2) {
            margin-top: 0;
            width: initial;
        }
    }

    h1 {
        font-size: 29px;
        text-align: center;
        margin-top: 20px;
        font-weight: 400;

        @include bp(small2) {
            font-size: 58px;
            text-align: center;
            margin: 30px 45px;
            font-weight: 400;
        }

    }

    h3 {
        font-size: 18px;
        font-weight: 400;
        margin-top: 20px;
        color: $subheadline-grey;
        text-align: center;

        @include bp(small2) {
            font-size: 24px;
            margin-top: 10vh;
        }

        &:before {
            @include bp(small2) {
                content: "";
                display: block;
                position: absolute;
                width: 1px;
                top: 197px;
                left: 270px;
                background-color: $white;
                height: 8vh;
            }
        }
    }

    h2 {
        font-size: 29px;
        font-weight: 400;
        text-align: center;
        margin-top: 20px;

        @include bp(small2) {
            margin-top: 40vh;
            font-size: 58px;
        }

    }

    .logo-icon {
        display: none;
        @include bp(small2) {
            display: block;
            @include logo-icon;
            position: absolute;
            top: 45vh;
            left: 220px;
            background-color: $transparent;
        }

        img {
            display: none;
            @include bp(small2) {
                display: block;
            }
        }
    }

    .hero-second-line,
    .hero-third-line,
    .hero-fourd-line {
        display: none;

        @include bp(small2) {
            display: block;
            position: absolute;
            width: 1px;
            left: 270px;
            background-color: $white;
            height: auto;
        }
    }

}