.jubilaeum-section {
    background-color: $background-darkgrey;
    
    @include bp(medium1) {
        height: 100vh;
        min-height: 880px;
    }

    .jubilaeum-section-inner {
        display: flex;
        flex-direction: column;

        @include bp(medium1) {
            flex-direction: row;
        }

        .jubilaeum-section-text {
            display: block;
            color: $white;
            max-width: 300px;
            text-align: center;
            margin: 10vh auto;

            @include bp(small2) {
                max-width: 400px;
                margin: 12vh auto;
            }

            @include bp(medium1) {
                margin: 13vh auto;
            }

            h2 {
                font-size: 29px;
                margin-bottom: 10px;
                position: relative;

                @include bp(small1) {
                    font-size: 40px; 
                }

                @include bp(medium1) {
                    font-size: 48px; 
                }

                &:before {
                    content: "";
                    position: absolute;
                    left: -25px;
                    top: -111px;
                    background-image: url(./../images/lorbeergranz.png);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 350px;
                    height: 350px;

                    @include bp(small2) {
                        left: -53vw;
                    }

                    @include bp(medium1) {
                        left: -34vw;
                    }

                    @include bp(large1) {
                        left: -24vw;
                    }

                    @include bp(large3) {
                        left: -21vw;
                    }
                }

                &:after {
                    @include after-line;
                }
            }

            span {
                font-size: 20px;
                font-style: italic;
            }

            p {
                position: relative;
                margin-top: 160px;
                @include text-normal;

                @include bp(medium1) {
                    margin-top: 180px;
                }

                &:after {
                    @include bp(medium1) {
                        @include after-line;
                        top: 445px;
                        height: 70px;
                    }
                }
            }

            .jubilaeum-lorbeergranz {
                background-image: url(./../images/lorbeergranz.png);
            }
        }

        .jubilaeum-section-slider-container {
            position: relative;

            .prev-slide,
            .next-slide {
                @include slider-arrow-setup;
            }

            .prev-slide {
                @include slider-arrow-prev;
                border-top-color: $white;
                border-left-color: $white;
            }

            .next-slide {
                @include slider-arrow-next;
                border-top-color: $white;
                border-right-color: $white;
            }

            .jubilaeum-section-slider {
                display: block;
                height: 400px;
                overflow: hidden;
    
                @include bp(medium1) {
                    height: 100vh;
                    min-height: 880px;
                    width: 40vw;
                }
    
                @include bp(medium3) {
                    width: 50vw;
                }
    
                @include bp(large2) {
                    width: 60vw;
                }
    
                img {
                    width: 100vw !important;
                    height: 400px !important;
                    object-fit: cover;
                    object-position: top center;
    
                    @include bp(medium1) {
                        height: 100vh !important;
                        min-height: 880px;
                        width: 40vw !important;
                    }
    
                    @include bp(medium3) {
                        width: 50vw !important;
                    }
        
                    @include bp(large2) {
                        width: 60vw !important;
                    }
                }
            }
        }
    }
}
