.vote-section {
    position: relative;
    background-color: $background-lightgrey;

    .vote-section-inner {
        @include padding-wo-line;
        padding-bottom: 5px;

        @include bp(small2) {
            padding-bottom: 20px;
        }
    
        @include bp(medium1) {
            padding-bottom: 50px;
        }
        
        h2 {
            @include headline-h2;
        }
    }

    .vote-slider-container {
        position: relative;

        .prev-vote-slide,
        .next-vote-slide {
            @include bp(medium1) {
                @include slider-arrow-setup;
                top: calc(50% - 60px);
            }

            @include bp(large1) {
                
            }
        }

        .prev-vote-slide {
            @include bp(medium1) {
                @include slider-arrow-prev;
                left: 0px;
            }

            @include bp(large1) {
                left: 12px;
            }
        }

        .next-vote-slide {
            @include bp(medium1) {
                @include slider-arrow-next;
                right: 0px;
            }

            @include bp(large1) {
                right: 12px;
            }
        }

        .vote-slider {
            text-align: center;
            max-width: 700px;
            padding: 5px;
            margin: auto;

            @include bp(small2) {
                padding: 50px;
            }

            .vote-slide {
                display: block;
                padding: 50px 35px;

                @include bp(small2) {
                    padding: 50px;
                }
            }

            p {
                position: relative;
                display: block;
                margin: auto;
                @include text-normal;

                &::before,
                &::after {
                    display: block;
                    content: "❝";
                    position: absolute;
                    font-size: 90px;
                    color: $vote-icons;
                    width: 80px;
                    height: 80px;
                }

                &:before {
                    top: -80px;
                    left: -45px;

                    @include bp(small2) {
                        left: -60px;
                    }
                }

                &:after {
                    bottom: -50px;
                    right: -45px;

                    @include bp(small2) {
                        right: -60px;
                    }
                }
            }
        }
    }
}