/* colors */

$black: #000;
$white: #fff;
$transparent: transparent;

$grey1: #FAFAFA;
$grey2: #D7D7D7;
$grey3: #909090;
$grey4: #4D4D4D;
$grey5: #373737;
$grey6: #1D1D1D;

$menu-icon-background: rgba(0,0,0, 0.9);
$menu-icon-background-hover: rgba(0,0,0, 0.84);


$background-lightgrey: $grey1;
$background-darkgrey: $grey6;

$white-text-hover: $grey2;

$subheadline-grey: $grey3;
$contact-url: $grey3;

$space-line: $grey3;
$vote-arrows: $grey2;
$vote-icons: $grey2;

$lorbergranz-grey: $grey5;
