@mixin logo-icon {
    position: fixed;
    top: 40px;
    left: 45px;
    border: 1px solid white;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: $menu-icon-background;

    @include bp(small2) {
        width: 100px;
        height: 100px;
        border-radius: 50px;
    }

    img {
        width: 40px;
        margin-top: 7px;
        margin-left: 13px;

        @include bp(small2) {
            width: 70px;
            margin-top: 10px;
            margin-left: 18px;
        }
    }
}

@mixin page-header-inner-line {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 50px;
    top: 0;
    left: 50%;
    background-color: $black;

    @include bp(medium1) {
        height: 65px;
    }
}

@mixin section-inner-before-line {
    @include bp(small1) {
        display: block;
        content: "";
        position: absolute;
        top: -55px;
        right: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 100px;
        background-color: $space-line;
    }

    @include bp(medium1) {
        top: -75px;
        height: 150px;
    }
}

@mixin after-line {
    display: block;
    position: absolute;
    content: "";
    width: 1px;
    height: 90px;
    left: 150px;
    top: 135px;
    background-color: $white;

    @include bp(small2) {
        left: 200px;
    }
}

@mixin headline-h2 {
    text-align: center;
    font-size: 29px;

    @include bp(small2) {
        font-size: 34px;
    }

    @include bp(medium1) {
        font-size: 40px;
    }
}

@mixin text-big {
    font-size: 15px;

    @include bp(small2) {
        font-size: 24px;
    }

    @include bp(medium1) {
        font-size: 29px;
    }
}

@mixin text-normal {
    font-size: 15px;

    @include bp(small2) {
        font-size: 18px;
    }

    @include bp(medium1) {
        font-size: 20px;
    }
}

@mixin padding-normal {
    /* With line on top inner-element*/
    padding: 90px 5px;
    padding-top: 120px;

    @include bp(small2) {
        padding: 90px 20px;
    }

    @include bp(medium1) {
        padding: 140px 50px;
        padding-top: 170px;
    }
}